/* mapbox searchbar size */
.mapboxgl-ctrl-geocoder {
    width: 600px!important;
}
/* this offsets the margin for the sidebar */
header, main, footer {
    padding-right: 300px;
  }
/* seach bar location */
  .geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 0%;
    
    }
    /* store locator text */
    .header {
        text-align: center;
    }
   